<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Studio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/studio.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
 </head>
  <body>
    <div class="fondo-inicio">
        <header>
            <img src="/images/logoo.png" width="350" alt="logo de la pagina">
            <div class="inicio">
                <h2>Music Studio</h2>
                <h2>Estudio de grabación</h2>
                <h4>Hacemos realidad tus proyectos</h4>
            </div>
        </header>
    </div> <!--fin de fondo-inicio-->
    
    {{{body}}}

     <footer>
        <p>Diseñado por Martina Pueta - &copy; 2023</p>
    </footer>
  </body>
</html>
