<div class="contenedor">
  <h2> Inicie sesión para continuar</h2>
    <form action="/admin/login" method="post">
    <div class="formulario">
         <input type="text" id="inputUser" placeholder="Usuario" name="usuario">
         </div>
    <div class="formulario">
     <input type="password" id="inputPassword" placeholder="Contraseña" name="password">
    </div>
    <button class="ingresar" type="submit">Ingresar</button>
  </form>
   {{#if error}}
  <p>Usuario y/o contraseña incorrecta</p>
  {{/if}}
</div>
